# 2020년 청소년상담복지센터 현황

In [296]:
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus
import pandas as pd
import json

query = "https://api.odcloud.kr/api/3084537/v1/uddi:f2ff9ec8-65c6-4a96-9446-86bf9a516b92_201908191803?page=1&perPage=1000&returnType=json&serviceKey=BR3g48qP54cPHeDIIypKuN55f0dmJlM5zyN1XoYEFe6pT75UjgycQicJlbBuR8jp5MmbhLKNABSMZoKJNeYRNg%3D%3D"
request = Request(query)
request.get_method = lambda:'GET'
response_body = urlopen(request).read()
#print(response_body)

response_dict = json.loads(response_body.decode('utf-8'))
#print(response_dict)
#print(response_dict.keys())

items = response_dict['data']

df_2020 = pd.DataFrame(items)
df_2020

                  센터명  ...  지역
0        서울시청소년상담복지센터  ...  서울
1        노원구청소년상담복지센터  ...  서울
2        양천구청소년상담복지센터  ...  서울
3       영등포구청소년상담복지센터  ...  서울
4        동작구청소년상담복지센터  ...  서울
..                ...  ...  ..
245      합천군청소년상담복지센터  ...  경남
246  제주특별자치도청소년상담복지센터  ...  제주
247     서귀포시청소년상담복지센터  ...  제주
248      제주시청소년상담복지센터  ...  제주
249  세종특별자치시청소년상담복지센터  ...  세종

[250 rows x 4 columns]

In [297]:
# 행, 열 순으로 출력
df_2020.shape

(250, 4)

In [298]:
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   센터명     250 non-null    object
 1   전화번호    250 non-null    object
 2   주소      250 non-null    object
 3   지역      250 non-null    object
dtypes: object(4)
memory usage: 7.9+ KB

In [299]:
# null값 확인
df_2020.isnull().sum()

센터명     0
전화번호    0
주소      0
지역      0
dtype: int64

In [318]:
df_2020.columns

Index(['센터명', '전화번호', '주소', '지역'], dtype='object')

In [301]:
df_2020['지역'].count()

250

In [302]:
df_2020['지역'].value_counts()

경기    48
서울    26
경남    23
전남    23
경북    22
충남    16
전북    15
충북    13
강원    13
부산    13
대구    10
인천     9
울산     6
광주     6
대전     3
제주     3
세종     1
Name: 지역, dtype: int64

In [333]:
df2020=pd.DataFrame(df_2020,columns=['지역','연도'])
df2020 = df2020.fillna('2020')
df2020

     지역    연도
0    서울  2020
1    서울  2020
2    서울  2020
3    서울  2020
4    서울  2020
..   ..   ...
245  경남  2020
246  제주  2020
247  제주  2020
248  제주  2020
249  세종  2020

[250 rows x 2 columns]

# 2021년 청소년상담복지센터 현황

In [303]:
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus
import pandas as pd
import json

query = "https://api.odcloud.kr/api/3084537/v1/uddi:c9021633-7e5d-4c6b-b73a-f51fedcacc93?page=1&perPage=1000&returnType=json&serviceKey=BR3g48qP54cPHeDIIypKuN55f0dmJlM5zyN1XoYEFe6pT75UjgycQicJlbBuR8jp5MmbhLKNABSMZoKJNeYRNg%3D%3D"
request = Request(query)
request.get_method = lambda:'GET'
response_body = urlopen(request).read()
#print(response_body)

response_dict = json.loads(response_body.decode('utf-8'))
#print(response_dict)
#print(response_dict.keys())

items = response_dict['data']

df_2021 = pd.DataFrame(items)
df_2021

        데이터기준일자  ...                                              주소
0    2021-07-30  ...                    (04543) 서울시 중구 을지로 11길 23 7층
1    2021-07-30  ...                       (06138) 서울시 노원구 덕릉로777 2층
2    2021-07-30  ...            (07991) 서울시 양천구 목동서로 143 목동청소년수련관 1층
3    2021-07-30  ...             (07317)  서울시 영등포구 도영로22길 36 해광빌딩 2층
4    2021-07-30  ...  (07062) 서울시 동작구 여의대방로 20길 33 시립보라매청소년센터 슬기동 2층
..          ...  ...                                             ...
228  2021-07-30  ...                    (50231)  경남 합천군 합천읍 옥산로 96-5
229  2021-07-30  ...                     (63222) 제주도 제주시 구남로 7길 4 2층
230  2021-07-30  ...                    (63590)  제주도 서귀포시 중앙로 94. 3층
231  2021-07-30  ...                      (63097) 제주도 제주시 남녕로 39  3층
232  2021-07-30  ...                (30024) 세종특별자치시 조치원읍 새내로 108  2층

[233 rows x 7 columns]

In [304]:
# 행, 열 순으로 출력
df_2021.shape

(233, 7)

In [305]:
df_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233 entries, 0 to 232
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   데이터기준일자  233 non-null    object
 1   시군구명     232 non-null    object
 2   시도명      233 non-null    object
 3   시설ID     233 non-null    int64
 4   시설명      233 non-null    object
 5   전화번호     232 non-null    object
 6   주소       233 non-null    object
dtypes: int64(1), object(6)
memory usage: 12.9+ KB

In [306]:
# null값 확인
df_2021.isnull().sum()

데이터기준일자    0
시군구명       1
시도명        0
시설ID       0
시설명        0
전화번호       1
주소         0
dtype: int64

In [307]:
# 데이터프레임 전체 열 이름 조회
df_2021.columns

Index(['데이터기준일자', '시군구명', '시도명', '시설ID', '시설명', '전화번호', '주소'], dtype='object')

In [308]:
# 열 정렬하기
df_2021 = df_2021[['시도명', '시군구명', '시설명', '시설ID', '주소', '전화번호', '데이터기준일자']]
df_2021.head()

     시도명  시군구명  ...          전화번호     데이터기준일자
0  서울특별시    중구  ...  02-2285-1318  2021-07-30
1  서울특별시   노원구  ...  02-2091-1386  2021-07-30
2  서울특별시   양천구  ...  02-2646-8341  2021-07-30
3  서울특별시  영등포구  ...   02-844-0924  2021-07-30
4  서울특별시   동작구  ...   02-834-1355  2021-07-30

[5 rows x 7 columns]

In [309]:
df_2021['시도명'].count()

233

In [310]:
df_2021['시도명'].value_counts()

경기도        32
서울특별시      25
경상남도       22
전라남도       22
경상북도       21
충청남도       16
부산광역시      16
전라북도       15
충청북도       13
강원도        13
인천광역시      10
대구광역시       9
울산광역시       6
광주광역시       6
대전광역시       3
제주특별자치도     3
세종특별자치시     1
Name: 시도명, dtype: int64

In [311]:
# 2020년과 값 통일
df_2021 = df_2021.replace({'시도명' : "경기도"}, "경기")
df_2021 = df_2021.replace({'시도명' : "서울특별시"}, "서울")
df_2021 = df_2021.replace({'시도명' : "경상남도"}, "경남")
df_2021 = df_2021.replace({'시도명' : "전라남도"}, "전남")
df_2021 = df_2021.replace({'시도명' : "경상북도"}, "경북")
df_2021 = df_2021.replace({'시도명' : "충청남도"}, "충남")
df_2021 = df_2021.replace({'시도명' : "전라북도"}, "전북")
df_2021 = df_2021.replace({'시도명' : "충청북도"}, "충북")
df_2021 = df_2021.replace({'시도명' : "강원도"}, "강원")
df_2021 = df_2021.replace({'시도명' : "부산광역시"}, "부산")
df_2021 = df_2021.replace({'시도명' : "인천광역시"}, "인천")
df_2021 = df_2021.replace({'시도명' : "대구광역시"}, "대구")
df_2021 = df_2021.replace({'시도명' : "울산광역시"}, "울산")
df_2021 = df_2021.replace({'시도명' : "광주광역시"}, "광주")
df_2021 = df_2021.replace({'시도명' : "대전광역시"}, "대전")
df_2021 = df_2021.replace({'시도명' : "제주특별자치도"}, "제주")
df_2021 = df_2021.replace({'시도명' : "세종특별자치시"}, "세종")

df_2021.head()

  시도명  시군구명  ...          전화번호     데이터기준일자
0  서울    중구  ...  02-2285-1318  2021-07-30
1  서울   노원구  ...  02-2091-1386  2021-07-30
2  서울   양천구  ...  02-2646-8341  2021-07-30
3  서울  영등포구  ...   02-844-0924  2021-07-30
4  서울   동작구  ...   02-834-1355  2021-07-30

[5 rows x 7 columns]

In [312]:
# 열이름 통일
df_2021.rename(columns={'시도명':'지역'},inplace=True)
df_2021.head()

   지역  시군구명  ...          전화번호     데이터기준일자
0  서울    중구  ...  02-2285-1318  2021-07-30
1  서울   노원구  ...  02-2091-1386  2021-07-30
2  서울   양천구  ...  02-2646-8341  2021-07-30
3  서울  영등포구  ...   02-844-0924  2021-07-30
4  서울   동작구  ...   02-834-1355  2021-07-30

[5 rows x 7 columns]

In [336]:
df2021 = pd.DataFrame(df_2021,columns=['지역','연도'])
df2021 = df2021.fillna('2021')
df2021

     지역    연도
0    서울  2021
1    서울  2021
2    서울  2021
3    서울  2021
4    서울  2021
..   ..   ...
228  경남  2021
229  제주  2021
230  제주  2021
231  제주  2021
232  세종  2021

[233 rows x 2 columns]

# 2022년 청소년상담복지센터 현황

In [325]:
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus
import pandas as pd
import json

query = "https://api.odcloud.kr/api/3084537/v1/uddi:61f2cecf-0697-4688-aec8-f563840707cc?page=1&perPage=1000&returnType=json&serviceKey=BR3g48qP54cPHeDIIypKuN55f0dmJlM5zyN1XoYEFe6pT75UjgycQicJlbBuR8jp5MmbhLKNABSMZoKJNeYRNg%3D%3D"
request = Request(query)
request.get_method = lambda:'GET'
response_body = urlopen(request).read()
#print(response_body)

response_dict = json.loads(response_body.decode('utf-8'))
#print(response_dict)
#print(response_dict.keys())

items = response_dict['data']

df_2022 = pd.DataFrame(items)
df_2022

                  센터명  ...                                               홈페이지
0        서울시청소년상담복지센터  ...                                 www.teen1318.or.kr
1        노원구청소년상담복지센터  ...                           www.nowonyouthcenter.org
2        양천구청소년상담복지센터  ...                        http://yangcheon1388.or.kr/
3       영등포구청소년상담복지센터  ...                                  www.young1318.com
4        동작구청소년상담복지센터  ...                             http://djyc1388.or.kr/
..                ...  ...                                                ...
234      거창군청소년상담복지센터  ...  http://www.geochang.go.kr/youth/Index.do?c=YU0...
235      합천군청소년상담복지센터  ...          http://www.hc.go.kr/05750/05766/05803.web
236  제주특별자치도청소년상담복지센터  ...                                 www.jeju1388.or.kr
237     서귀포시청소년상담복지센터  ...  http://www.seogwipo.go.kr/youths/counseling/in...
238      제주시청소년상담복지센터  ...                                     www.제주시1388.한국

[239 rows x 9 columns]

In [326]:
# 열 정렬하기
df_2022 = df_2022[['지역','시도명', '시군구명', '센터명', '주소', '전화번호_1','전화번호_2','전화번호_3','홈페이지']]
df_2022.head()

   지역    시도명  시군구명  ...        전화번호_2        전화번호_3                         홈페이지
0  서울  서울특별시    중구  ...  02-2285-1318  02-2285-1315           www.teen1318.or.kr
1  서울  서울특별시   노원구  ...  02-2091-1388  02-2091-1389     www.nowonyouthcenter.org
2  서울  서울특별시   양천구  ...  02-2646-8341  02-2646-8342  http://yangcheon1388.or.kr/
3  서울  서울특별시  영등포구  ...   02-844-0924  02-2636-2071            www.young1318.com
4  서울  서울특별시   동장구  ...   02-834-1355   02-831-0365       http://djyc1388.or.kr/

[5 rows x 9 columns]

In [327]:
df_2022['지역'].count()

239

In [328]:
df_2022['지역'].value_counts()

경기    33
서울    25
전남    23
경북    23
경남    22
부산    16
충남    16
전북    15
강원    14
충북    13
인천    11
대구     9
광주     6
울산     6
대전     3
제주     3
세종     1
Name: 지역, dtype: int64

In [337]:
df2022 = pd.DataFrame(df_2022,columns=['지역','연도'])
df2022 = df2022.fillna('2022')
df2022

     지역    연도
0    서울  2022
1    서울  2022
2    서울  2022
3    서울  2022
4    서울  2022
..   ..   ...
234  경남  2022
235  경남  2022
236  제주  2022
237  제주  2022
238  제주  2022

[239 rows x 2 columns]

# 연도별 비교

In [338]:
# 한글폰트 적용
import matplotlib.pyplot as plt
plt.rc("font",family="AppleGothic")

#마이너스 기호 깨짐 방지
plt.rcParams['axes.unicode_minus']=False

In [347]:
# 데이터 합치기
table = pd.concat([df2020,df2021,df2022])
table

     지역    연도
0    서울  2020
1    서울  2020
2    서울  2020
3    서울  2020
4    서울  2020
..   ..   ...
234  경남  2022
235  경남  2022
236  제주  2022
237  제주  2022
238  제주  2022

[722 rows x 2 columns]

In [344]:
# 시각화 해보기