In [144]:
# 보건의료빅데이터개방시스템 - 국민관심질병통계 - 도박중독
# 2017 - 2021
# xls파일데이터 불러오기
import pandas as pd
data = pd.read_excel('./data/2_국민관심질병성별연령10세구간(심사년도).xls',
                     header =[6,7], # 컬럼명 위치
                     index_col=[0,1,2]) # 로우명 위치
data

심사년도           2017년                                     2018년                 \
연령구분10세          환자수    내원일수   청구건수   요양급여비용총액   보험자부담금    환자수    내원일수   청구건수
도박중독 계 계       1,119  14,533  4,705  1,110,642  802,194  1,205  13,722  5,212
     남 소계      1,079  13,570  4,528  1,036,796  747,874  1,168  13,193  5,027
       10_19세     39     482    161     46,547   33,878     64   1,096    251
       20_29세    344   3,952  1,484    291,811  207,955    409   3,875  1,813
       30_39세    419   3,895  1,748    287,592  203,976    418   3,969  1,679
       40_49세    161   2,441    565    189,957  138,929    177   2,287    713
       50_59세     87   1,488    365    128,737   96,268     74   1,119    399
       60_69세     34     602    136     42,800   31,189     37     443    127
       70_79세     14     710     69     49,352   35,680      9     403     44
       80세이상       -       -      -          -        -      1       1      1
     여 소계         40     963    177     73,846   54,320     37     529    185
       10_19세      -       -      -          -        -      1       1      1
       20_29세      5     149     32     14,022   10,286      5      40     38
       30_39세      8     118     30      7,476    5,404      4       6      6
       40_49세      5       6      6        392      274      8     209     31
       50_59세     10     489     46     38,342   28,363     10      28     28
       60_69세      8     180     42     12,564    9,299      5     203     39
       70_79세      3      16     16        915      599      5      42     42
       80세이상       1       5      5        135       95      -       -      -

심사년도                               ...  2020년                            \
연령구분10세         요양급여비용총액   보험자부담금  ...    환자수    내원일수   청구건수   요양급여비용총액
도박중독 계 계       1,100,828  809,956  ...  1,661  16,054  7,095  1,474,857
     남 소계      1,059,647  779,491  ...  1,593  15,443  6,773  1,424,726
       10_19세     98,672   72,907  ...     96     916    406     94,446
       20_29세    309,874  225,804  ...    587   4,759  2,422    444,554
       30_39세    320,544  235,264  ...    590   4,435  2,423    419,448
       40_49세    194,540  145,335  ...    222   2,070    925    198,944
       50_59세     79,273   58,273  ...    100   1,342    390    112,610
       60_69세     30,569   23,117  ...     29     498    134     33,439
       70_79세     26,128   18,762  ...     12   1,421     71    121,165
       80세이상          46       28  ...      1       2      2        119
     여 소계         41,181   30,465  ...     68     611    322     50,131
       10_19세         30       21  ...      2      12     12        557
       20_29세      4,545    3,370  ...     16     122     87      9,103
       30_39세        489      326  ...     17     106     67      8,303
       40_49세     18,953   14,219  ...     13      99     32      8,434
       50_59세      2,026    1,371  ...      9      81     37      7,309
       60_69세     12,642    9,442  ...     10      92     62      7,995
       70_79세      2,496    1,716  ...      3      99     25      8,429
       80세이상           -        -  ...      -       -      -          -

심사년도                      2021년
연령구분10세           보험자부담금    환자수    내원일수   청구건수   요양급여비용총액     보험자부담금
도박중독 계 계       1,088,231  2,056  20,691  9,861  1,978,553  1,455,861
     남 소계      1,050,904  1,989  20,034  9,528  1,913,344  1,408,013
       10_19세     71,967    126   1,725    611    192,275    143,196
       20_29세    327,469    735   7,122  3,412    696,474    510,509
       30_39세    310,610    745   6,139  3,529    565,249    418,023
       40_49세    143,075    264   2,421  1,264    220,278    162,057
       50_59세     82,793     95     934    427     82,826     59,417
       60_69세     25,390     52     493    213     43,280     31,968
       70_79세     89,535     11   1,124     61    104,148     76,306
       80세이상          65      2      76     11      8,815      6,536
     여 소계         37,326     67     657    333     65,209     47,849
       10_19세        399      1       1      1         44         31
       20_29세      6,696     19     262    105     27,938     21,010
       30_39세      6,407     18     107     80     10,190      7,611
       40_49세      6,030      9      33     33      3,509      2,577
       50_59세      5,574      5      13     13        810        635
       60_69세      6,050     14     235     95     22,353     15,705
       70_79세      6,171      1       5      5        242        187
       80세이상           -      1       1      1        124         93

[19 rows x 25 columns]

In [145]:
data.columns

MultiIndex([('2017년',      '환자수'),
            ('2017년',     '내원일수'),
            ('2017년',     '청구건수'),
            ('2017년', '요양급여비용총액'),
            ('2017년',   '보험자부담금'),
            ('2018년',      '환자수'),
            ('2018년',     '내원일수'),
            ('2018년',     '청구건수'),
            ('2018년', '요양급여비용총액'),
            ('2018년',   '보험자부담금'),
            ('2019년',      '환자수'),
            ('2019년',     '내원일수'),
            ('2019년',     '청구건수'),
            ('2019년', '요양급여비용총액'),
            ('2019년',   '보험자부담금'),
            ('2020년',      '환자수'),
            ('2020년',     '내원일수'),
            ('2020년',     '청구건수'),
            ('2020년', '요양급여비용총액'),
            ('2020년',   '보험자부담금'),
            ('2021년',      '환자수'),
            ('2021년',     '내원일수'),
            ('2021년',     '청구건수'),
            ('2021년', '요양급여비용총액'),
            ('2021년',   '보험자부담금')],
           names=['심사년도', '연령구분10세'])

In [146]:
data.drop([('2017년',     '내원일수'),
            ('2017년',     '청구건수'),
            ('2017년', '요양급여비용총액'),
            ('2017년',   '보험자부담금'),
            ('2018년',     '내원일수'),
            ('2018년',     '청구건수'),
            ('2018년', '요양급여비용총액'),
            ('2018년',   '보험자부담금'),
            ('2019년',     '내원일수'),
            ('2019년',     '청구건수'),
            ('2019년', '요양급여비용총액'),
            ('2019년',   '보험자부담금'),
            ('2020년',     '내원일수'),
            ('2020년',     '청구건수'),
            ('2020년', '요양급여비용총액'),
            ('2020년',   '보험자부담금'),
            ('2021년',     '내원일수'),
            ('2021년',     '청구건수'),
            ('2021년', '요양급여비용총액'),
            ('2021년',   '보험자부담금')],axis=1,inplace=True)

In [147]:
data.index

MultiIndex([('도박중독', '계',      '계'),
            ('도박중독', '남',     '소계'),
            ('도박중독', '남', '10_19세'),
            ('도박중독', '남', '20_29세'),
            ('도박중독', '남', '30_39세'),
            ('도박중독', '남', '40_49세'),
            ('도박중독', '남', '50_59세'),
            ('도박중독', '남', '60_69세'),
            ('도박중독', '남', '70_79세'),
            ('도박중독', '남',  '80세이상'),
            ('도박중독', '여',     '소계'),
            ('도박중독', '여', '10_19세'),
            ('도박중독', '여', '20_29세'),
            ('도박중독', '여', '30_39세'),
            ('도박중독', '여', '40_49세'),
            ('도박중독', '여', '50_59세'),
            ('도박중독', '여', '60_69세'),
            ('도박중독', '여', '70_79세'),
            ('도박중독', '여',  '80세이상')],
           )

In [148]:
data.drop([('도박중독', '계',      '계'),
            ('도박중독', '남',     '소계'),
            ('도박중독', '남', '20_29세'),
            ('도박중독', '남', '30_39세'),
            ('도박중독', '남', '40_49세'),
            ('도박중독', '남', '50_59세'),
            ('도박중독', '남', '60_69세'),
            ('도박중독', '남', '70_79세'),
            ('도박중독', '남',  '80세이상'),
            ('도박중독', '여',     '소계'),
            ('도박중독', '여', '20_29세'),
            ('도박중독', '여', '30_39세'),
            ('도박중독', '여', '40_49세'),
            ('도박중독', '여', '50_59세'),
            ('도박중독', '여', '60_69세'),
            ('도박중독', '여', '70_79세'),
            ('도박중독', '여',  '80세이상')],axis=0,inplace=True)

In [155]:
data2 = data.T
data2

                도박중독
                   남      여
              10_19세 10_19세
심사년도  연령구분10세
2017년 환자수         39      -
2018년 환자수         64      1
2019년 환자수         92      1
2020년 환자수         96      2
2021년 환자수        126      1

In [163]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 5 entries, ('2017년', '환자수') to ('2021년', '환자수')
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (도박중독, 남, 10_19세)  5 non-null      object
 1   (도박중독, 여, 10_19세)  5 non-null      object
dtypes: object(2)
memory usage: 856.0+ bytes

In [160]:
data2.plot(subplots=True,figsize=(16,25), kind='pie')

TypeError: '<' not supported between instances of 'str' and 'int'

In [110]:
# KOSIS 국가통계포털 - 청소년종합실태조사 - 도박 문제의 심각성
# xls파일데이터 불러오기
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

danger = pd.read_excel('./data/도박_문제의_심각성_20220731002336.xlsx',
                     header =[0,1,2], # 컬럼명 위치
                     index_col=[0,1,2]) # 로우명 위치
danger

특성별(3)            2019                            2021
특성별(3)         심각하지 않다          보통  심각하다       심각하지 않다          보통  심각하다
특성별(3)              전혀    별로    소계    다소    매우      전혀    별로    소계    다소    매우
합계   소계   소계       1.6   8.5  25.5  37.6  26.8     1.4   8.1  24.1  37.9  28.5
성별   남자   소계       2.1   9.4  26.8  34.0  27.8     2.1  10.2  24.6  35.8  27.4
     여자   소계       1.0   7.5  24.0  41.8  25.6     0.8   6.1  23.5  40.0  29.6
학교급별 중학생  소계       1.6   7.2  25.0  37.0  29.2     1.3   9.0  26.6  35.9  27.3
          남자       1.9   7.1  26.8  35.0  29.1     2.1  11.5  26.8  33.8  25.8
          여자       1.2   7.4  22.9  39.4  29.2     0.4   6.4  26.3  38.0  28.9
     고등학생 소계       1.6   9.9  26.1  38.2  24.3     1.6   7.4  21.9  39.6  29.5
          남자       2.2  11.7  26.8  32.8  26.4     2.1   9.0  22.6  37.5  28.9
          여자       0.9   7.6  25.2  44.6  21.7     1.1   5.9  21.2  41.6  30.1
동권역  소계   소계       1.9   7.5  27.2  38.0  25.4     1.5   8.8  23.5  38.1  28.0
     성별   남자       2.4   8.5  26.9  34.1  28.1     2.0  10.9  23.6  36.7  26.7
          여자       1.3   6.0  27.7  43.5  21.5     1.0   6.5  23.4  39.6  29.5
     학교급별 중학생      2.0   6.6  27.4  37.7  26.3     1.1   8.9  24.0  37.8  28.3
          고등학생     1.9   8.3  27.1  38.2  24.6     2.0   8.7  23.1  38.5  27.8
읍면권역 소계   소계       1.5   8.9  24.9  34.6  30.2     1.7   6.4  20.1  35.8  35.9
     성별   남자       2.3  10.4  27.7  32.4  27.2     1.5   5.6  19.5  38.9  34.5
          여자       0.6   7.3  21.8  37.0  33.3     1.8   7.2  20.7  33.0  37.2
     학교급별 중학생      1.4   6.5  21.5  36.0  34.6     1.7   5.6  24.7  37.2  30.7
          고등학생     1.6  12.9  30.6  32.3  22.6     1.7   6.7  18.5  35.3  37.8
장유권역 소계   소계       1.2   9.5  23.8  38.4  27.0     1.2   7.7  25.7  38.0  27.4
     성별   남자       1.5  10.1  26.3  34.4  27.6     2.3  10.2  27.2  33.6  26.7
          여자       1.0   9.0  21.4  42.2  26.5     0.3   5.4  24.3  42.0  28.0
     학교급별 중학생      1.2   8.3  24.1  36.8  29.5     1.4   9.6  30.4  33.0  25.5
          고등학생     1.3  10.8  23.4  40.1  24.4     1.0   6.0  21.5  42.5  29.0